body {
    font-family: Arial, sans-serif;
    background-color: #9b6cf3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(209, 151, 247);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    
}

#taskInput {
    width: 75%;
    padding: 10px;
}

#addTaskBtn {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button.editBtn, button.deleteBtn {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
}

button.editBtn {
    background-color: #f0ad4e;
    color: white;
}

button.deleteBtn {
    background-color: #d9534f;
    color: white;
}
